.Best {
  width: 100%;
  margin-top: 100px;
  background-color: #f5f5f5;
  padding: 80px 0px;
}
.Best .text {
  text-align: center;
}
.Best .text p.text{
    margin-top: 15px;
}
.Best .box {
  background: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 0px 30px;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 30px;
}
.Best .box:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
  background: rgba(2, 48, 71, 0.9);
  color: white;
}
.Best .box::after {
  content: "add to bag";
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: white;
  color: black;
}
.Best .box img {
  width: 100%;
}
.Best .box p.text {
  margin-top: 15px;
}
.Best .box span {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #333;
  margin-top: 10px;
  padding-bottom: 25px;
}
